<div class="pdp-review">
                            <div class="pdp-review-star">
                                <svg width="152" height="24" viewBox="0 0 152 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_468_6991)">
                                        <path
                                            d="M44 0.480011L47.708 8.0631L56 9.28657L50 15.1859L51.416 23.52L44 19.5831L36.584 23.52L38 15.1859L32 9.28657L40.292 8.0631L44 0.480011Z"
                                            fill="#FFC300" />
                                    </g>
                                    <g clip-path="url(#clip1_468_6991)">
                                        <path
                                            d="M12 0.480011L15.708 8.0631L24 9.28657L18 15.1859L19.416 23.52L12 19.5831L4.584 23.52L6 15.1859L0 9.28657L8.292 8.0631L12 0.480011Z"
                                            fill="#FFC300" />
                                    </g>
                                    <path
                                        d="M76 0.480011L79.708 8.0631L88 9.28657L82 15.1859L83.416 23.52L76 19.5831L68.584 23.52L70 15.1859L64 9.28657L72.292 8.0631L76 0.480011Z"
                                        fill="#FFC300" />
                                    <path
                                        d="M108 0.480011L111.708 8.0631L120 9.28657L114 15.1859L115.416 23.52L108 19.5831L100.584 23.52L102 15.1859L96 9.28657L104.292 8.0631L108 0.480011Z"
                                        fill="#FFC300" />
                                    <path
                                        d="M140 1.61824L143.259 8.28274C143.331 8.43081 143.472 8.53369 143.635 8.55775L150.933 9.63454L145.649 14.8293C145.533 14.944 145.48 15.1084 145.507 15.2696L146.753 22.6019L140.234 19.1415C140.088 19.0636 139.912 19.0636 139.766 19.1415L133.247 22.6019L134.493 15.2696C134.52 15.1084 134.467 14.944 134.351 14.8293L129.067 9.63454L136.365 8.55775C136.528 8.53369 136.669 8.43081 136.741 8.28274L140 1.61824Z"
                                        stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round" />
                                    <defs>
                                        <clipPath id="clip0_468_6991">
                                            <rect width="24" height="24" fill="white" transform="translate(32)" />
                                        </clipPath>
                                        <clipPath id="clip1_468_6991">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <a class="review-count">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_468_6977)">
                                        <path
                                            d="M19.928 15.6971L18.7664 12.3165C19.3263 11.1718 19.6222 9.89887 19.6242 8.61805C19.6277 6.39098 18.766 4.28523 17.198 2.68874C15.6296 1.09194 13.5397 0.193074 11.3131 0.1578C9.00432 0.121316 6.83416 0.999521 5.20263 2.63101C3.62943 4.20418 2.75685 6.27813 2.72923 8.49438C1.17868 9.6618 0.263482 11.4819 0.26649 13.426C0.267935 14.3358 0.472701 15.2401 0.86071 16.0579L0.060591 18.3864C-0.0769483 18.7866 0.0235207 19.2212 0.322818 19.5205C0.533444 19.7312 0.811139 19.8433 1.09673 19.8433C1.21688 19.8433 1.33845 19.8235 1.457 19.7828L3.78548 18.9826C4.60326 19.3707 5.50759 19.5754 6.41736 19.5769C6.42064 19.5769 6.42377 19.5769 6.42705 19.5769C8.4001 19.5768 10.2341 18.638 11.3973 17.0494C12.6077 17.0176 13.8053 16.7246 14.888 16.1949L18.2686 17.3565C18.4095 17.4049 18.5539 17.4285 18.6967 17.4285C19.0361 17.4285 19.3661 17.2953 19.6164 17.0449C19.9721 16.6892 20.0915 16.1728 19.928 15.6971ZM6.42697 18.3864C6.42443 18.3864 6.42174 18.3864 6.4192 18.3864C5.61396 18.3852 4.81431 18.1867 4.10685 17.8124C3.96138 17.7355 3.7906 17.7221 3.63505 17.7756L1.24743 18.596L2.06786 16.2084C2.1213 16.0528 2.10802 15.8821 2.03106 15.7366C1.65677 15.0291 1.45825 14.2295 1.457 13.4242C1.45501 12.129 1.95888 10.9013 2.84001 9.98196C3.12782 11.7365 3.96404 13.3533 5.26021 14.6264C6.54681 15.8901 8.16408 16.6947 9.90909 16.9578C8.98768 17.866 7.74565 18.3864 6.42697 18.3864ZM18.7746 16.2031C18.7407 16.2369 18.7006 16.2462 18.6554 16.2306L15.0363 14.987C14.9735 14.9654 14.9081 14.9547 14.8429 14.9547C14.7469 14.9547 14.6512 14.9779 14.5646 15.0238C13.5312 15.5704 12.3636 15.8604 11.1877 15.8622C11.1839 15.8622 11.1803 15.8622 11.1765 15.8622C7.2365 15.8622 3.98208 12.6616 3.91966 8.72258C3.88822 6.73879 4.64283 4.87437 6.04443 3.47277C7.44604 2.07116 9.31077 1.31683 11.2943 1.34808C15.2371 1.41062 18.4398 4.67105 18.4338 8.61618C18.4319 9.79204 18.142 10.9597 17.5954 11.993C17.5185 12.1384 17.5052 12.3092 17.5586 12.4648L18.8022 16.0838C18.8177 16.1292 18.8084 16.1693 18.7746 16.2031Z"
                                            fill="#61AFB3" />
                                        <path
                                            d="M14.7226 5.44971H7.63039C7.30164 5.44971 7.03516 5.71623 7.03516 6.04494C7.03516 6.37369 7.30168 6.64018 7.63039 6.64018H14.7226C15.0513 6.64018 15.3178 6.37365 15.3178 6.04494C15.3178 5.71623 15.0513 5.44971 14.7226 5.44971Z"
                                            fill="#61AFB3" />
                                        <path
                                            d="M14.7226 7.89777H7.63039C7.30164 7.89777 7.03516 8.16429 7.03516 8.493C7.03516 8.82171 7.30168 9.08824 7.63039 9.08824H14.7226C15.0513 9.08824 15.3178 8.82171 15.3178 8.493C15.3178 8.16429 15.0513 7.89777 14.7226 7.89777Z"
                                            fill="#61AFB3" />
                                        <path
                                            d="M11.9926 10.3457H7.63039C7.30164 10.3457 7.03516 10.6122 7.03516 10.9409C7.03516 11.2697 7.30168 11.5362 7.63039 11.5362H11.9926C12.3213 11.5362 12.5878 11.2697 12.5878 10.9409C12.5878 10.6122 12.3214 10.3457 11.9926 10.3457Z"
                                            fill="#61AFB3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_468_6977">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                Reviews (06)
                            </a>
                        </div>